[user]
	name = Yongheng Lin
	email = yongheng.lin@gmail.com
[core]
	editor = vim
	autocrlf = false
	filemode = false
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	s = status
	b = branch
	d = diff
	l = log
	c = log --pretty=format:'%C(auto)%h%d %C(yellow)(%cr) %C(cyan)%an %C(auto)%s' --graph
	f = c --name-status
	cm = c master..
	fm = f master..
[pull]
	default = current
[push]
	default = current
[credential]
	helper = osxkeychain
