[user]
	name = Yongheng Lin
	email = yongheng.lin@gmail.com
[core]
	editor = vim
	autocrlf = false
	filemode = false
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
	s = status
	b = branch
	d = diff
	l = log --oneline --graph --decorate
	c = log --oneline --graph --decorate
	f = c --name-status
	lm = l master..
	cm = c master..
	fm = f master..
[push]
	default = current
[credential]
	helper = cache --timeout=7200
